body {
    font-family: tahoma, helvetica, arial, sans-serif;
    font-size: 10px;
    text-align: center;
    background: url(images/page_bg.gif);
}

html, body, #wrapper, h1 {
margin: 0;
padding: 0;
}

th, td {
font-size: 10px;
}

img { border: 0; }

#wrapper {
margin: auto;
text-align: right;
width: 748px;
position: relative;
}

h1, h2, h3 {
font-size: 10px;
}


h1 {
margin: 0;
padding: 0;
}

h2 {
margin: 0 0 0 0;
padding: 0;
background-color:red;
color:white;
text-align:right;
font-size:15px;
}

h3 {
padding: 0px 0 0 0;
}

.block {
display: block;
}

.clear {
clear: both;
height: 2px;
padding-top: 0;
margin-top: 0;
margin-bottom: 3px;
font-size: 1px;
}

.left {
float: left;
margin: 32px 50px 41px 50px;
}

/*.softright {
top:10%;
text-align: center;
background-color:red;
color:white;
}*/

/**.readmore {
text-align: right;
}**/

/* ***** */

#inner {
border-left: 2px solid #fff;
border-right: 2px solid #fff;
background: white;
color: black;
margin-bottom: 10px;
left:30%;
}

#header {

padding-top: 9px;
position: relative;

}

#header img {
display: block;
}


    
#browse {
float: left;
width: 199px;
margin: 0;
padding: 0;
background: white;
border-bottom: 2px solid white;
}

#browse dt {
background: #c80000 url(images/dt_bg.gif) bottom repeat-x;
color: #fff;
margin: 2px 2px 0px px;
padding: 4px 0;
text-align: center;
font-weight: bold;
}

#browse dd {
background: #227293;
border-bottom: 1px solid #659db4;
padding: 0;
margin: 0 0px;
}

#browse dd a {
color: white;
font-weight: bold;
text-decoration: none;
display: block;
padding: 3px 22px;
}

* html #browse dd {
padding: 3px 22px;
padding: 0;
}

* html #browse dd a {
display: inline;
display: block;
}

#browse dd a:hover {
background: #74a7b7;
}

#browse .first {
padding-top: 20px;
font-size: medium;
}

#browse .last {
padding-bottom: 8px;
border-bottom: 1px solid white;
}

#browse .searchform {
padding: 10px;
}

#browse .text, #browse select {
width: 160px;
}

#browse form {
margin: 0;
padding: 0;
}

#browse form div {
padding-bottom: 8px;
width: 165px; 
}


#body {
float: right;
width: 543px;
margin: 0px 0px 0 0;

border: 0px solid #e5e5e5;
position: relative;
}

#body p {
margin: 1em 0;
padding: 0;
}

#body .leftbox,
#body .rightbox {
margin-top: 0px;
color: #464646;
}

#body .leftbox {
    position: absolute;
float: left;
width: 250px;
}

#body .rightbox {
float: right;
width: 252px;
margin-right: 18px;
border-left: 1px solid #e5e5e5;
}

* html #body .rightbox {
margin-right: 10px;
}

/**#body .br {
border-bottom: 1px solid #e5e5e5;
}**/

#body .readmore {
margin-top: -0.5em;
margin-bottom: 0;
padding-bottom: 0;
}

#body .readmore a {
color: #ad1c1c;
}

#body .readmore a:hover {
color: #f73838;
}

#body h3 {
text-align:-webkit-right;
font-family: "Keble Condensed", "KebleCondensed", "arial narrow", helvetica, arial, sans-serif;
font-size: 13px;
font-weight: normal;
color: #227293;
padding: 0 0 0 0px;
margin: 0px 0 0px 0;
}

#footer {
background: #c80000 url(images/footer_bg.gif) repeat-x;
padding: 8px 8px 5px 8px;
position: relative;
text-align: center;
border-bottom: 2px solid white;
width:100%;
}

#footer, #footer a {
font-weight: bold;
color: white;
text-decoration: none;
}

#footnav {
position: absolute;
text-align: right;
right: 10px;
top: 0px;
padding: 8px 0 5px 0;
}
#category
{
    float:left;
    background-color:slategray;
    color:white;
    font-size: medium;
}
#tablecategory
{
    left:10%;
    width:300px;
    height:300px;
    text-align:center;
    color:white;
}
.text-link
{
    text-decoration: none;
    color:inherit;
    cursor:white;
}
#Bookdisplay
{
    left: 100%;

}
#leftboxx
{
    float: left;
    width: 400px;
    height:auto;
}
#rightboxx
{
    float: right;
    width: 400px;
    margin-right: 18px;
    border-left: 1px solid #e5e5e5;
}
#imagealig{
    margin:10px 20px 50px 20px;
}
b
{
    margin: 0px;
}

