{% include "header.html.twig" %}
<center>
            <table>
            <tr><td><h1 id="published"> <strong>Please Choose Your Role
            </strong></h1><br><br><br> </td></tr>
            <tr><td><a href="/welcomeauthor"><button id="homebutton"> Author</button></a><br><br></td></tr>
            <tr><td><a href="/userwelcome"><button id="homebutton"> User</button></a></td></tr>
        </table>
       </center>
       <script src="public/assets/js/home/home.js"></script>
 {% include "footer.html.twig" %}