<html>
<head>
<title>Book Store</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="public/assets/css/style.css" rel="stylesheet" type="text/css" />
</head>
<style>
</style>
<body>
<div id="wrapper">
  <div id="inner">
    <div id="header">
      <h1 id="title">Engineering Book Store </h1>
      <h1 id="userloginss"></h1>
      <nav> <a href="/"><button id="homebutton">Home</button></a> 
      <a href="/userredirect"><button id="homebuttons">Author Login</button></a> 
       
      
     </nav>
    <dd class="last"></dd>
  
  <br>
   <br>
   <br>