{% include "Userdasheader.html.twig" %}
<br>
        <center>  
          
      <form action='/updateprofile' method='post' autocomplete='off' onsubmit="return validateForm()">
      <table>
      <tr><td> <label id="labels">User Name</label><br></td></tr>
      {% for data in data %}
               <tr><td><input type="text" name="name" placeholder="Author name" id="names" value="{{ data.name }}"><br></td></tr>
                
                <tr><td><div id="name"></div><br></td></tr>
                      <tr><td><input type='submit' value='Update Profile' style='width:170px;'></td></tr>
      {% endfor %}
      </form>
</table>
    </center>
    
<script src="public/assets/js/Userdash/EditProfile.js">
</script>

{% include "userdashFooter.html.twig" %}