{% include "Userdasheader.html.twig" %}
<br>

        <center>
<table id="booktitle">
    <th >Book</th>
    <th>Book Title</th>
    <th>Order Id</th>
    <th>Order Value</th>

      {% for data in data %}
      {% set image =data.coverpage %}
      {% set url="app/Model/upload/"~image %}
      
      <tr>
      <td><img src={{url}} width='93' height='95'/></td>
      <td id="bookdata"> {{ data.title }}</td>
      <td id="bookdata">{{ data.orderid }}</td>
      <td id="bookdata">{{ data.ordervalue}}</td>
      </td></tr>
      {% endfor %}
    </table>
    </center>
    {% include "UserdashFooter.html.twig" %}