
   {% include "Userdasheader.html.twig" %}
<center>
   
            <table>
            <tr><td><h1 id="published"> <strong>
             {{ data }}
            </strong></h1><br> </td></tr>
        </table>
       </center>
      {% include "UserdashFooter.html.twig" %}