<html>
<head>
<title>Book Store</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="public/assets/css/style.css" rel="stylesheet" type="text/css" />
<style>
  
  </style>
</head>
<body>
<div id="wrapper">
  <div id="inner">
    <div id="header">
      <h1 id="title">Engineering Book Store </h1>
      <h1  id="userloginss">{{ name }}</h1>
      <nav> <a href="index.php?action=home"><button id="homebutton">Home</button></a> 
       
      <a href="index.php?action=userredirect"><button id="homebuttons">User Login</button></a>
     </nav>
    <dd class="last"></dd>
  <br>
  <br>
  <br>
  
      
     <dl id="browse">
    <dt>Options</dt>
    <dd class="first"><a href="index.php?action=AuthorWelcome">
                Author Home </a></dd>
    <dd id="option"> <a href="index.php?action=publishbook">
                Create Book </a></dd> 
    <dd id="option"> <a href="index.php?action=salesreport">Report</a> </dd>
    <dd id="option"> <a href="index.php?action=listbook">List Book</a></dd>
    <dd id="option"> <a href="index.php?action=logout">logout</a></dd>
    <dd id="option"><p onclick="myfun()" id="become">Become User</p></dd>
                <dd id="option"><p onclick="userRedirect()" id="redirect"></p></dd>
                
  </dl>
    <input type='hidden' id='session' value={{ session }}>
