{% include "Authordasheader.html.twig" %}
<center>
   <table>
            <tr><td><h1 id ="data"> <strong>
            {{ data }}
            </strong></h1><br> </td></tr>

        </table>
        
      </center>
      <input type="hidden" id="userlogin" value="{{ name }}">
   {% include "AuthordashFooter.html.twig" %}   
