
<html>
    <head>
        <title>Report</title>
    </head>
    <link href="../../../public/assets/css/style.css" rel="stylesheet" type="text/css">
    
<body>
   
<div id="wrapper">
  <div id="inner">
    <div id="header">
      <h1 id="title">Engineering Book Store</h1>
      <h1 style="background-color:red;color:white;">{{ name }}</h1>
      <nav> <a href="../../../public/assets/html/first.php"><button id="homebutton">Home</button></a> 
       
      <a href="../../Controller/UserRedirect.php"><button id="homebutton">User Login</button></a>
     </nav>
    <dd class="last"></dd>
  <center>
        <form action="../../../app/Controller/home/SearchByTitle.php" method="get" autocomplete="off">
          <div>
            <input name="bookname" type="text" placeholder="Search your book"id="text" />
           <br> <br>
            <input type="submit" value="search" class="softright">
          </div>
        </form>
  </center>
  <br>
  
  <div id="search-result" style="text-align:left;"></div>
  <dl id="browse">
    <dt>Options</dt>
    <dd class="first"><a href="../../View/authordash/LoginView.php">
                Author Home </a></dd>
    <dd style="font-size:16px;"> <a href="../../view/authordash/authordash.php">
                Publishing Book </a></dd> 
    <dd style="font-size:16px;"> <a href="../../Controller/authordash/PublishedBook.php">For Report</a> </dd>
    <dd style="font-size:16px;"> <a href="../../Controller/authordash/EditBook.php">Edit Book</a></dd>
    <dd style="font-size:16px;"> <a href="../../Controller/authordash/DeleteBook.php">Delete Book</a></dd>
    
    <dd style="font-size:16px;"> <a href="../../Controller/accounts/logout.php">logout</a></dd>
  
    <dd style="font-size:16px;"><p style="margin-top:0px;font-weight:bold;padding:3px 10px;color:white;font-size:16px" onclick="myFunction()" id="become">Become User</p></dd>
                <dd style="font-size:16px;"><p style="margin-top:0px;font-weight:bold;padding:3px 10px;color:white;font-size:16px" onclick="userRedirect()" id="redirect"></p></dd>
                
  </dl>
<br>
<input type='hidden' id='session' value={{ session }}>
 
        <center>
<table>
    <h1 style="font-size:20px;">Published Books</h1>
    <th style="font-size:12px;">Title</th>

      {% for book in data %}
      <tr>
      <td style='font-size:10px;'>{{ book.title}}</td>
      {% set id=book.bookid %}
      {% set url="../../Controller/authordash/DeleteSelectedBook.php?id="~id %}
      <td><a href={{ url }}><button style='background-color:red;color:white;border:0px'>Delete Book</button></a></td>
      </tr>
  
      {% endfor %}
    
    </table>
    </center>
 <!-- end .inner -->
    </div>
    <!-- end body -->
    <div class='clear'></div>
    <div id='footer'> Web design by <a href='http://www.freewebsitetemplates.com'>free website templates</a> &nbsp;
      <div id='footnav'> <a href='#'>Legal</a> | <a href='#'>Home</a> </div>
      <!-- end footnav -->
    </div>
    <!-- end footer -->
  </div>
  <!-- end inner -->
</div>
<!-- end wrapper -->

<script src='../../../public/assets/js/home/homeScripts.js'>
  </script>
  <script src='../../../public/assets/js/authordash/authordash.js'>
      </script>
    </body>
</html>