{% include "Authordasheader.html.twig" %}
 
        <center>
<table>
    <h1 style="font-size:20px;">Published Books</h1>
    <th style="font-size:12px;">Title</th>

      {% for book in data %}
      <tr>
      <td style='font-size:10px;'>{{ book.title}}</td>
      {% set id= book.bookid %}
      {% set url = "/editbook?id="~ id %}
      {% set urld = "/deletebook?id=" ~ id %}
      <td><a href={{ url }} ><button id="listbook">Edit Book</button></a></td>
      <td><a href={{ urld }} onclick="myfuns(event)"><button id="listbook">Delete Book</button></a></td>  
    </tr>
      {% endfor %}
    </table>
    </center>
    <input type="hidden" id="userlogin" value={{ getSession("UserName") }}>
    
   
<script>

  function myfuns(event)
  {
       console.log("from my funs");
       if(!confirm("Are You Sure To Delete The Book"))
       {
          event.preventDefault();
       }
       else
       {
         console.log("button canceled");
       }
  }
</script>
{% include "AuthordashFooter.html.twig" %}